body {
    font-family: Arial;
    background-color: lightgray;
}

header {
    background-color: white;
    text-align: center;
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

img {
    border-radius: 50%;
}
